:root{
    --primary-color: #fa7f72;
    --secondary-color: #f3f3db;
    --tertiary-color: #191970;
    --text-color: #0c0c24;
    --button-color: #f1f1dd;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}


body, input, button{
    font-family: 'poppins';
}

@media(max-width:600px){
    *{

        font-size: 0.879rem;
    }

}